@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    color-scheme: dark;
    --green: #00b755;
    --yellow: #daaf38;
    --red: #ca4754;
    --black: #222;
    --gray: #999;
    --blue: #3346FF
  }

  body {
    font-family: "Press Start 2P", system-ui, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    display: flex;
    place-content: center;
    padding:350px;
    background-image: url(imperio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 500px;
}

time {
    color: var(--gray);
    font-size: 14px;

}

input {
   z-index: -999;
   position: absolute;
   top: 0;
   left: 0;
   pointer-events: none;
   opacity: 0;
}
p{
   
    display: flex;
    flex-wrap: wrap;
    gap: 3px 12px;
    color: white;
    margin: 0;
}

letter {
    color: var(--white);
    position: relative;

    &.active::before {
      content: '|';
      color: var(--black);
      font-size: 14px;
      position: absolute;
      left: -65%;
      animation: 1s blink infinite ease-in-out;
    }

    &.active.is-last::before {
      left: 65%;
    }

    &.correct {
      color: var(--green);   
    }

    &.incorrect {
      color: var(--red);
    }
    
  }

  word {
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease-in-out;
    &.marked {
      border-bottom: 1.5px solid var(--red);   
    }
  }
  
  
  
  @keyframes blink {

    0%,
    50% {
      opacity: 1;
    }

    75% {
      opacity: 0;
    }
  }

  #game {
    display: flex;
  }

  #results {
    display: none;
  }

  h2 {
    font-weight: 400;
    opacity: .4;
    margin: 0;
    font-size: 25px;
  }

  h3 {
    font-weight: 400;
    margin: 0;
    font-size: 25px;
    color: var(--white);
  }

  button {
    background: transparent;
    border: 0;
    margin-top: 32px;
    padding: 8px;
    opacity: .4;
    display: inline-block;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 16px;

    &:hover {
      background: #444;
      opacity: 1;
      scale: 110%;
    }
  }